body {
    background: #F7EFEB;
}

#search-form {
    margin: 10px;
}
main{
    background-color: #FFDEA8;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-btns {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}